USE [TN_CSDLPT]
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePass]    Script Date: 17/02/2022 3:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ChangePass]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @ROLE VARCHAR(50)
AS
BEGIN
	IF @ROLE= 'SINHVIEN'
		BEGIN
			UPDATE SINHVIEN SET MATKHAU= @PASS WHERE MASV = @LGNAME
		END
	ELSE
		BEGIN
			EXEC sp_password NULL, @PASS, @LGNAME
		END
END

