CREATE PROC [dbo].[SP_CheckClassExist]
@MALOP char(8)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM LOP WHERE MALOP = @MALOP)
		SELECT '1';
	ELSE IF EXISTS (SELECT 1 FROM LINK2.TN_CSDLPT.DBO.LOP L WHERE L.MALOP=@MALOP)
		SELECT '1';
	ELSE
		SELECT '0';
END