USE [TN_CSDLPT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetQuestion]    Script Date: 27/11/2021 2:10:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GetQuestion]
@MAMH CHAR(5), @TRINHDO CHAR(1), @SOCAUHOI int
AS
BEGIN

	DECLARE @TRINHDO1 CHAR(1) = 'K'
	DECLARE @SOCAU int = 0
	DECLARE @SC int = 0
	DECLARE @SK int = 0

	IF ( @TRINHDO = 'A' )
		SET @TRINHDO1 = 'B'
	ELSE IF ( @TRINHDO = 'B' )
		SET @TRINHDO1 = 'C'

	SET @SC = ( SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO )
	SET @SK = ( SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO1 )

	SET @SOCAU = @SC + @SK

	IF ( @SOCAU <@SOCAUHOI OR @SC < ( @SOCAUHOI * 70 / 100 ) )
		BEGIN
			SELECT ( 'KHONG DU CAU HOI THI' )
			RETURN
		END

	SELECT MAGV INTO #GV FROM GIAOVIEN G, KHOA K WHERE G.MAKH = K.MAKH

	SELECT * INTO #CUNGTRINHDOSITEHIENTAI FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO AND MAGV IN (SELECT MAGV FROM #GV)
	SELECT * INTO #KHACTRINHDOSITEHIENTAI FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO1 AND MAGV IN (SELECT MAGV FROM #GV)

	SELECT * INTO #CUNGTRINHDOKHACSITE FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO AND MAGV NOT IN (SELECT MAGV FROM #GV)
	SELECT * INTO #KHACTRINHDOKHACSITE FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO1 AND MAGV NOT IN (SELECT MAGV FROM #GV)

	DROP TABLE #GV

	DECLARE @SCC int = ( SELECT COUNT(*) FROM #CUNGTRINHDOSITEHIENTAI)
	DECLARE @SKC int = ( SELECT COUNT(*) FROM #KHACTRINHDOSITEHIENTAI)

	DECLARE @SCK int = 0
	DECLARE @SKK int = 0
	
	IF ( @SCC < ( @SOCAUHOI * 70 / 100 ) )
		SET @SCK = ( @SOCAUHOI *70 /100 ) - @SCC
	
	SET @SK = @SOCAUHOI - @SCC - @SCK
	IF ( @SK < 0 )
		BEGIN
			SET @SK = 0;
			SET @SKC = 0;
			SET @SCC = @SOCAUHOI;
		END

	IF ( @SKC < @SK )
		SET @SKK = @SK - @SKC
	ELSE
		SET @SKC = @SK

/*	SELECT @SCC
	SELECT @SCK
	SELECT @SKC
	SELECT @SKK
	*/

	SELECT TOP (@SCC) CAUHOI, MAMH, TRINHDO, CAST(NOIDUNG AS NVARCHAR(MAX)) AS NOIDUNG, CAST(A AS NVARCHAR(MAX)) AS A, CAST(B AS NVARCHAR(MAX)) AS B, CAST(C AS NVARCHAR(MAX)) AS C, CAST(D AS NVARCHAR(MAX)) AS D, DAP_AN, MAGV INTO #TABLE1 FROM #CUNGTRINHDOSITEHIENTAI ORDER BY NEWID()
	SELECT TOP (@SCK) CAUHOI, MAMH, TRINHDO, CAST(NOIDUNG AS NVARCHAR(MAX)) AS NOIDUNG, CAST(A AS NVARCHAR(MAX)) AS A, CAST(B AS NVARCHAR(MAX)) AS B, CAST(C AS NVARCHAR(MAX)) AS C, CAST(D AS NVARCHAR(MAX)) AS D, DAP_AN, MAGV INTO #TABLE2 FROM #CUNGTRINHDOKHACSITE ORDER BY NEWID()
	SELECT TOP (@SKC) CAUHOI, MAMH, TRINHDO, CAST(NOIDUNG AS NVARCHAR(MAX)) AS NOIDUNG, CAST(A AS NVARCHAR(MAX)) AS A, CAST(B AS NVARCHAR(MAX)) AS B, CAST(C AS NVARCHAR(MAX)) AS C, CAST(D AS NVARCHAR(MAX)) AS D, DAP_AN, MAGV INTO #TABLE3 FROM #KHACTRINHDOSITEHIENTAI ORDER BY NEWID()
	SELECT TOP (@SKK) CAUHOI, MAMH, TRINHDO, CAST(NOIDUNG AS NVARCHAR(MAX)) AS NOIDUNG, CAST(A AS NVARCHAR(MAX)) AS A, CAST(B AS NVARCHAR(MAX)) AS B, CAST(C AS NVARCHAR(MAX)) AS C, CAST(D AS NVARCHAR(MAX)) AS D, DAP_AN, MAGV INTO #TABLE4 FROM #KHACTRINHDOKHACSITE ORDER BY NEWID()

	DROP TABLE #CUNGTRINHDOSITEHIENTAI
	DROP TABLE #CUNGTRINHDOKHACSITE
	DROP TABLE #KHACTRINHDOSITEHIENTAI
	DROP TABLE #KHACTRINHDOKHACSITE

	SELECT * FROM #TABLE1 
	UNION
	SELECT * FROM #TABLE2
	UNION
	SELECT * FROM #TABLE3
	UNION
	SELECT * FROM #TABLE4 

	DROP TABLE #TABLE1
	DROP TABLE #TABLE2
	DROP TABLE #TABLE3
	DROP TABLE #TABLE4
END