USE [TN_CSDLPT]
GO
/****** Object:  StoredProcedure [dbo].[SP_InfoStudent]    Script Date: 25/11/2021 10:17:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_InfoStudent] 
@MASV CHAR (8),
@PASS VARCHAR(16)
AS
DECLARE @TENUSER NVARCHAR(50)
DECLARE @MALOP CHAR(8)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID('student')
SELECT @MALOP = MALOP FROM SINHVIEN WHERE MASV = @MASV
SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM SINHVIEN  WHERE MASV = @MASV AND MATKHAU = @PASS), MALOP = @MALOP, TENLOP = ( SELECT TENLOP FROM LOP WHERE MALOP = @MALOP ),
   NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
               WHERE MEMBERUID= (SELECT UID FROM sys.sysusers  WHERE NAME=@TENUSER))